

<div class="sg-pattern-extra-inner">

<!-- description, etc. -->
{{# descBlockExists }}
  <div class="sg-pattern-extra-info">

    {{# isPatternView }}
      <div class="sg-pattern-head">

        <!--<div class="sg-pattern-breadcrumb">{{ patternBreadcrumb }}</div>-->

        <h2 class="sg-pattern-title">
          {{ patternName }}
          {{# patternState }}
            <span class="sg-pattern-state {{ patternState }}">{{ patternState }}</span>
          {{/ patternState }}
        </h2>

      </div><!--end .sg-pattern-head-->
    {{/ isPatternView }}


    {{# patternDescExists }}
      <div class="sg-pattern-desc">
          {{{ patternDesc }}}
          {{# patternDescAdditions }}
            {{{ . }}}
          {{/ patternDescAdditions }}
      </div><!--end .sg-pattern-desc-->
    {{/ patternDescExists }}

    {{# lineageExists }}
      <p class="sg-pattern-lineage">
          The <strong>{{ patternName }}</strong> pattern contains the following patterns:
          <span id="sg-code-lineage-fill">
          {{# lineage }}
            <a href='{{ lineagePath }}' class='{{# lineageState }}sg-pattern-state {{ . }}{{/ lineageState }}' data-patternPartial='{{ lineagePattern }}'>{{ lineagePattern }}</a>
          {{/ lineage }}
          </span>
      </p><!--end .sg-pattern-lineage-->
    {{/ lineageExists }}

    {{# lineageRExists }}
      <p class="sg-pattern-lineage">
          The <strong>{{ patternName }}</strong> pattern is included in the following patterns:
          <span id="sg-pattern-extra-lineage">
          {{# lineageR }}
            <a href='{{ lineagePath }}' class='{{# lineageState }}sg-pattern-state {{ . }}{{/ lineageState }}' data-patternPartial='{{ lineagePattern }}'>{{ lineagePattern }}</a>
          {{/ lineageR }}
          </span>
      </p><!--end .sg-pattern-lineage-->
    {{/ lineageRExists }}


    <div class="sg-annotations">
        <h2 class="sg-annotations-title">Annotations</h2>

        <ol class="sg-annoatations-list">
            <li>This is the header cheese. <a href="#">Cheese links</a>. Don't do anything stupid with the header.</li>
            <li>This is the navigation. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae alias repudiandae iure tenetur voluptas, magni eveniet adipisci odit et tempore quam dignissimos error, nihil pariatur maxime voluptate. Eum, molestias, dolores.</li>
            <li>I like dried mangoes. They're pretty delicious.</li>
            <li>This is the fourth item on the list. You can read about the annotations. </li>
            <li>Dave Olsen is a PHP developer focused on delivering mobile content and services using the mobile web. Developed and currently maintain several open source projects including: Detector, a JS/PHP server-side feature-detection library; Throttle, a node.js-based utility for throttling network speed to test mobile sites; and the PHP library of ua-parser. I have experience in managing and deploying complex projects in a large enterprise setting including a content management system that powers several hundred websites. I've also been involved in developing and implementing social media strategies using Twitter, Facebook, foursquare and text messaging.
</li>
        </ol>
    </div>
</div><!--end .sg-pattern-extra-info-->
{{/ descBlockExists }}

<div class="sg-pattern-extra-code">

  <div id="sg-{{ patternPartial }}-tabs" class="sg-tabs">
    <ul class="sg-tabs-list">
      {{# panels }}
        <li id="sg-{{ patternPartial }}-{{ id }}-tab" data-patternpartial="{{ patternPartial }}" data-panelid="{{ id }}"><a href="#sg-{{ patternPartial }}-{{ id }}-panel" class="active">{{ name }}</a></li>
      {{/ panels }}
    </ul><!--end .sg-tabs-list-->

    <div id="sg-{{ patternPartial }}-panels" class="sg-tabs-content">
      {{# panels }}
        <div id="sg-{{ patternPartial }}-{{ id }}-panel"  class="sg-tabs-panel" style="display: none">
          {{{ content }}}
        </div>
      {{/ panels }}
    </div><!--end .sg-tabs-content-->

  </div><!--end .sg-tabs-->

</div><!--end .sg-pattern-extra-info-->

</div><!--end .sg-pattern-body-->
