<div>
    
  {{# isPatternView }}
    <div class="sg-pattern-head">
      <h2>{{ patternName }}</h2>
      <div class="sg-pattern-breadcrumb">{{ patternBreadcrumb }}</div>
    </div>
  {{/ isPatternView }}
  
  <div>
    <!-- description, etc. -->
    {{# descBlockExists }}
      <div>
        {{# patternDescExists }}
          <div class="sg-code-desc">
            <p>
              {{ patternDesc }}
              {{# patternDescAdditions }}
                {{{ . }}}
              {{/ patternDescAdditions }}
            </p>
          </div>
        {{/ patternDescExists }}
        {{# patternStateExists }}
          <div>
            <p>
              The state of the <span class="sg-code-patternname">{{ patternName }}</span> pattern is: <span class="sg-pattern-state {{ patternState }}">{{ patternState }}</span>
            </p>
          </div>
        {{/ patternStateExists }}
        {{# lineageExists }}
          <div>
            <p>
              The <span class="sg-code-patternname">{{ patternName }}</span> pattern contains the following patterns:
              <span id="sg-code-lineage-fill">
              {{# lineage }}
                <a href='{{ lineagePath }}' class='{{# lineageState }}sg-pattern-state {{ . }}{{/ lineageState }}' data-patternPartial='{{ lineagePattern }}'>{{ lineagePattern }}</a>
              {{/ lineage }}
              </span>
            </p>
          </div>
        {{/ lineageExists }}
        {{# lineageRExists }}
          <div>
            <p>
              The <span class="sg-code-patternname">{{ patternName }}</span> pattern is included in the following patterns:
              <span id="sg-code-lineager-fill">
              {{# lineageR }}
                <a href='{{ lineagePath }}' class='{{# lineageState }}sg-pattern-state {{ . }}{{/ lineageState }}' data-patternPartial='{{ lineagePattern }}'>{{ lineagePattern }}</a>
              {{/ lineageR }}
              </span>
            </p>
          </div>
        {{/ lineageRExists }}
      </div>
    {{/ descBlockExists }}
    
    <!-- panels -->
    <div class="sg-tabs-container">
      <div id="sg-{{ patternPartial }}-tabs" class="sg-tabs">
        <ul class="sg-tabs-list">
          {{# panels }}
            <li id="sg-{{ patternPartial }}-{{ id }}-tab" data-patternpartial="{{ patternPartial }}" data-panelid="{{ id }}"><a href="#sg-{{ patternPartial }}-{{ id }}-panel" class="active">{{ name }}</a></li>
          {{/ panels }}
        </ul>
      </div>
      <div id="sg-{{ patternPartial }}-panels" class="sg-tabs-content">
        {{# panels }}
          <div id="sg-{{ patternPartial }}-{{ id }}-panel"  class="sg-tabs-panel" style="display: none">
            {{{ content }}}
          </div>
        {{/ panels }}
      </div>
    </div>
    
  </div>
</div>
